.Settings {}

.Settings-Select {
  width: 120px;
  margin-left: auto;
}

.Settings-Header:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Settings-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.options-left {
  margin: 0 0 0 auto;
}
