.TeamPicks {
  position: sticky;
  top: 18px;
}

.Pick-Columns {
  display: flex;
}

.Pick-Column {
}

.Pick-Section {
  margin-bottom: 40px;
}

.Pick-Section-Header {
  display: flex;
}

.Pick-Row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .TeamPicks {
    top: 0px;
    height: fit-content;
    padding: 10px;
    position: unset;
  }

  .TeamPicks > header {
    padding: 0 5px;
    justify-content: space-between;
  }

  .TeamPicks > header > h3 {
    margin: 0;
  }

  .TeamPicks-Toggle-Bench {
    display: flex;
  }

  .TeamPicks-Toggle-Bench > button {
    color: gray;
  }

  .TeamPicks-Toggle-Bench > .TeamPicks-Active {
    color: black;
    text-decoration: underline;
    font-weight: 400;
  }

  .TeamPicks-Toggle-Bench > select {
    margin-left: auto;
    font-weight: 200;
    color: gray;
    font-size: 14px;
  }

  .PlayerTable-Row-Name > p {
    margin-left: 0;
  }

  th,
  td {
    padding-left: 10px;
    padding-right: 10px;
  }
}
