.OrderTracker {
  position: relative;
}

.OrderTracker-Header:hover {
  cursor: pointer;
}

.OrderTracker-Header:hover h3 {
  text-decoration: underline;
}

.RoundTracker {
  margin: auto 30px 13px;
}

.Team-Cards {
  display: flex;
}

.Team-Cards > .Card {
  cursor: pointer;
}

.Team-Arrow-Up {
  position: relative;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-bottom: 10px solid #c4c4c4;
}

.Team-Arrow-Label {
  position: relative;
  margin: 0;
  top: -10px;
}

.Legend-Row {
  display: flex;
}

.Legend-Row > p {
  margin: 0 0 0 8px;
}
