.PlayerTable.Section {
  padding: 0;
}

#table-top-header {
  border-bottom: 1px solid var(--border-color);
  z-index: 2;
  background-color: white;
  padding: 8px;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#table {
  padding: 8px;
}

.PlayerTable-Position-Buttons {
  margin: auto;
}

.PlayerTable-Position-Buttons > button {
  opacity: 0.5;
  padding: 4px 8px;
  margin: 3px;
  border-radius: 4px;
}

.PlayerTable-Position-Buttons > button.Active {
  opacity: 1;
  background-color: var(--highlight-gray);
}

.PlayerTable-Position-Buttons > button:hover {
  text-decoration: underline;
}

.undo-button,
.remove-player-x,
.skip-button {
  outline: none !important;
  cursor: pointer;
  border: none;
}

.skip-button {
  margin: 0;
}

.undo-button {
  margin: 0;
}

.skip-button,
.undo-button {
  padding: 10px;
  bottom: 0;
}

.skip-button:hover,
.undo-button:hover {
  text-decoration: underline;
}

.row:hover {
  background-color: var(--highlight-gray);
  cursor: pointer;
}

/* FLEX one wide by default */
.col {
  flex: 1;
}

/* Name is 3.5x 1 flex */
.col-name {
  display: flex;
  align-items: center;
  flex: 3.5;
}

.col-name > p {
  font-weight: 400;
}

.col-vor,
.col-adp,
.col-prediction,
.col-madden {
  text-align: right;
}

.col-remove {
  flex: 14px;
  text-align: right;
  right: 2px;
}

.row-inactive {
  opacity: 0.45;
}

.Legend-Row > p {
  margin-right: 40px;
}

#table-head {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-player-x {
  background-color: transparent;
  width: 2px;
  height: 100%;
  opacity: 0.8;
  right: 0;
  position: relative;
  top: -10px;
}
.remove-player-x:hover {
  opacity: 1;
  cursor: pointer;
}
.remove-player-x:before,
.remove-player-x:after {
  position: absolute;
  content: " ";
  height: 20px;
  width: 1px;
  background-color: #c4c4c4;
}
.remove-player-x:before {
  transform: rotate(45deg);
}
.remove-player-x:after {
  transform: rotate(-45deg);
}

.remove-player-x:hover:before,
.remove-player-x:hover:after {
  background-color: #535353;
}

@media screen and (max-width: 800px) {
  .skip-button {
    margin-left: auto;
  }
}

@media screen and (max-width: 700px) {
  .PlayerTable {
    position: unset;
  }

  #table-top-header {
    top: 52px;
  }

  #table-top-header > header {
    flex-wrap: wrap;
  }

  .PlayerTable-Position-Buttons {
    width: 100%;
    margin-left: 15px;
  }

  .Player-Table-Control-Buttons {
    position: absolute;
    top: -45px;
    right: 10px;
  }

  .Legend-Row {
    margin: 10px 15px;
  }

  .col {
    font-size: 12px;
  }

  .col-name {
    flex: 30%;
  }

  .col-name > p {
    font-weight: 500;
  }

  .col-team {
    flex: 1;
  }

  .row {
    height: 45px;
  }

  .row:hover {
    background-color: unset;
    cursor: unset;
  }
}
