.th-left {
  text-align: left;
}

.th-right {
  text-align: right;
}

.PlayerTable-Header {
  display: flex;
  position: relative;
}

.undo-button,
.draft-button {
  outline: none !important;
  cursor: pointer;
}

.undo-button {
  border: none;
  position: absolute;
  right: 2%;
}

.draft-button-td {
  position: relative;
}

.draft-button {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  right: 0;
  position: absolute;
  top: 0;
}

.draft-button:hover {
  background-color: #c4c4c4;
}

.PlayerTable-Row:hover {
  background-color: #f3f3f359;
  cursor: pointer;
}

table {
  margin-left: 8px;
  margin-bottom: 50px;
  width: 96%;
  border-collapse: collapse;
}

th {
  height: 40px;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 10;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.16);
  padding-top: 5px;
}

tr {
  height: 35px;
}
