.About {
    max-width: 800px;
    margin: 50px auto;
    padding: 16px;
}

.About > header {
    display: flex;
    flex-direction: row;
}

.About > h1 {
    margin: 20px 0 20px 0;
}

.About > h3 {
    margin: 24px 0 12px 0;
}

.About > h4 {
    margin: 18px 0;
}

.About > p,.About > p > a {
    font-size: 17px !important;
    line-height: 1.7;
    margin: 12px 0;
}

.About-back-button {
    text-decoration: unset;
}