.Card {
  border: var(--border-gray);
  margin: 6px;
  position: relative;
  border-radius: 5px;
  flex-shrink: 0;
  overflow-y: visible;
}

.Card-Empty {
  border: 1px dashed var(--gray);
}

.Card-Active {
  border: var(--highlight-border);
}

.Card-Hover, .Card-Active {
  border-color: var(--blue);
}

.Card-Draggable:hover {
  cursor: grab;
}

.Card > h4 {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 7%;
}

.Card > h5 {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 7%;
}

.Card > p {
  margin: 0;
  position: relative;
  top: 60%;
  transform: translateY(-50%);
  left: 7%;
}

.Card > p.points {
  margin: 0;
  position: absolute;
  bottom: 5%;
  left: 7%;
  top: unset;
}

.Card > .Team-Points {
  margin: 0;
  position: absolute;
  bottom: 5%;
  left: 7%;
  top: unset;
}
