.am-navbar {
    border-bottom: var(--border-gray);
}

.am-navbar-left {
    display: flex;
    align-items: center;
    margin: auto 15px;
}

.am-navbar-title {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.ant-dropdown-trigger {
    font-size: 20px;
    border: none;
}

.dropdown-overlap {
    width: 150px;
    right: 0;
}

.draft-dot {
    display: flex;
    margin-left: 15px;
    margin-top: 6px;
}