@media screen and (max-width: 700px) {
    .MobileSettings > header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 8px;
    }

    .MobileSettings > header > h2 {
        margin: 0;
    }

    .pick-column {
        display: flex;
        flex-direction: column;
    }

    .pick-column > p {
        margin-left: 23px !important;
    }

    .pick-column > button {
        margin: 0;
        margin-left: 10px;
    }
    
    .draft-dot {
        display: flex;
        margin: 0;
    }
    
    .buttons {
        padding: 0px 8px;
        display: flex;
        align-items: center;
    }
}