#App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.App-Row-Top {
  display: flex;
  height: 20%;
}

.App-Row-Bottom {
  display: flex;
  position: absolute;
  top: 20%;
  height: fit-content;
  width: 100%;
}

.App-Left-Column {
  height: auto;
  width: 24%;
}

.App-Right-Column {
  width: 70%;
}

.App-Block {
  padding: 15px;
}
