#App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.App-Row-Top {
  display: flex;
  height: 24%;
  min-height: 160px;
  width: 100%;
}

.App-Row-Bottom {
  display: flex;
  height: 100%;
  width: 100%;
}

.App-Left-Column {
  height: auto;
  width: 24%;
}

.App-Right-Column {
  height: 100%;
  width: 70%;
}

.App-Block {
  padding: 15px;
}

.App-Left-Column .App-Block {
  height: auto;
}

.toast-container > .Toastify__toast {
  color: #fff;
  background-color: #222;
  opacity: 0.9;

  padding-left: 15px;
  width: fit-content;
  border-radius: 5px;
  font-size: 15px;
}

.Toastify__toast-body {
  display: flex;
  align-items: center;
}

.Toastify__toast {
  margin-bottom: 5px;
}

.Toast-Undo-Button {
  color: #fff;
  font-size: 15px;
  text-decoration: underline;
  margin-left: auto;
}

.green-dot,
.orange-dot {
  height: 6px;
  width: 6px;
  border-radius: 10px;
  margin: auto 5px;
}

.green-dot {
  background-color: #00d000;
}

.orange-dot {
  background-color: #eca80a;
}

.Select-Container {
  margin: 0px 0px 10px 35px;
  border-bottom: 1px solid lightgray;
}

.Grayed {
  color: lightgray;
}

.Grayed:hover {
  color: #4a4a4a;
}

@media screen and (max-width: 700px) {
  .toast-container-mobile {
    width: calc(100% - 40px);
    margin: 20px;
  }

  .toast-container-mobile > .Toastify__toast {
    width: 100%;
  }

  .Card {
    margin: 2px !important;
  }
}
