.Card {
  border: var(--border-gray);
  margin: 6px;
  position: relative;
  border-radius: 5px;
  flex-shrink: 0;
}

.Card-Empty {
  border: 1px dashed var(--border-color);
}

.Card-Active {
  border: var(--highlight-border);
}

.Card > h4 {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 7%;
}

.Card > h5 {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 7%;
}

.Card > p {
  font-size: 0.76vw !important;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 7%;
}

.Card > p.points {
  margin: 0;
  position: absolute;
  bottom: 5%;
  left: 7%;
  top: unset;
}

.Card > .Team-Points {
  margin: 0;
  position: absolute;
  bottom: 5%;
  left: 7%;
  top: unset;
}
