.Card {
  border: 1px solid #c4c4c4;
  margin: 6px;
  position: relative;
  border-radius: 5px;
}

.Card-Empty {
  border: 1px dashed #c4c4c4;
}

.Card-Active {
  box-shadow: 0 1px 2px #ededed;
}

.Card > h4 {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 7%;
}

.Card > h5 {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 7%;
}

.Card > p {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 7%;
}

.Card > p.points {
  margin: 0;
  position: absolute;
  bottom: 5%;
  left: 7%;
  top: unset;
}
