html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #4a4a4a;
  overflow-x: hidden;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

h1 {
  font-size: 36px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 5px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

h5 {
  font-size: 14px;
  font-weight: 400;
}

p,
a,
th,
tr,
button,
label {
  font-weight: 300;
  font-size: 14px;
  margin: 8px;
  color: #4a4a4a;
}

select {
  font-weight: 300;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}

a {
  margin: 0;
}

p.small {
  font-size: 10px;
}

#root {
  height: 100%;
  width: calc(100% - 12px);
  margin: 0 6px;
}

select {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  position: relative;
}

button {
  outline: none;
  background-image: none;
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

label {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 700px) {
  #root {
    width: 100%;
    margin: 0;
  }
}
