#root {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: var(--dark-gray);
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

h1 {
  font-size: 36px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 5px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

h5 {
  font-size: 14px;
  font-weight: 400;
}

p,
a,
th,
tr,
button,
label,
input {
  font-weight: 300;
  font-size: 14px;
  margin: 8px;
  color: var(--dark-gray);
}

select:disabled, button:disabled {
  opacity: 0.5;
}

a {
  margin: 0;
}

p.small {
  font-size: 10px;
}

span.small {
  font-size: 12px;
}

header {
  display: flex;
  align-items: center;
  position: relative;
}

header > p {
  margin: auto 30px 13px;
}

button {
  outline: none;
  background-image: none;
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

select {
  font-weight: 300;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 3px;
}

label {
  display: flex;
  align-items: center;
  height: 25px;
}

@media screen and (max-width: 700px) {
  #root {
    width: 100%;
    margin: 0;
  }
}
