.ant-modal {
  width: fit-content !important;
}

.position-change-section {
  width: 450px;
}

.position-input {
  width: fit-content;
  margin: 8px;
}

.ant-input-group .ant-input {
  width: 40px;
}

.ant-input-number-input {
  height: 100%;
}
